<div class="toolbar" >
  <ul>
    <li class="toolbarli"><a href="https://www.google.se/webhp?hl=sv&sa=X&ved=0ahUKEwjZr9je5NbgAhVh1qYKHSScAV8QPAgH"> Start</a> </li>
    <li class="toolbarli"><a href="https://www.google.se/webhp?hl=sv&sa=X&ved=0ahUKEwjZr9je5NbgAhVh1qYKHSScAV8QPAgH"> Movies</a> </li>
    <li class="toolbarli"><a href="https://www.google.se/webhp?hl=sv&sa=X&ved=0ahUKEwjZr9je5NbgAhVh1qYKHSScAV8QPAgH"> Actors</a> </li>
    <li class="toolbarli"><a href="https://www.google.se/webhp?hl=sv&sa=X&ved=0ahUKEwjZr9je5NbgAhVh1qYKHSScAV8QPAgH"> Add</a> </li>
    <li class="toolbarli"><a href="https://www.google.se/webhp?hl=sv&sa=X&ved=0ahUKEwjZr9je5NbgAhVh1qYKHSScAV8QPAgH"> Log in</a> </li>
  </ul>

</div>
