<div id="container">
  <div id="container2">
<h1>Add a movie</h1>
<br>
<form #movieForm ="ngForm" (ngSubmit)="onSubmit(movieForm)">
  <label class="labels">Movie title:</label>
  <input
    class="inputs"
    type="text"
    [(ngModel)]="newMovie.Name"
    name="Name"
    #movieName="ngModel"
    required
  />
  <br/><br/>
  <label class="labels">Year of release:</label>
  <input
    class="inputs"
    type="text"
    [(ngModel)]="newMovie.Year"
    name="Year"
    #movieYear="ngModel"
    required
  />
  <br/><br/>
  <label class="labels">Director:</label>
  <input
    class="inputs"
    type="text"
    [(ngModel)]="newMovie.Director"
    name="Director"
    #movieDirector="ngModel"
    required
  />
  <br/><br/>
  <button class="button" [disabled]="!movieForm.valid">Add movie</button>

</form>
  </div>
</div>

<ul>
  <li *ngFor="let m of movieArr">
    Namn: {{ m.Name }} ({{ m.Year }}), Director: {{ m.Director }}
  </li>
</ul>

<ng-template></ng-template>



