<h1>Add a movie</h1>
<br>

<form #movieForm ="ngForm" (ngSubmit)="onSubmit(movieForm)">
  <label class="labels">Movie title</label>
  <input
    class="inputs"
    type="text"
    [(ngModel)]="newMovie.Name"
    name="Name"
    #movieName="ngModel"
    required
  />
  <label class="labels">Year</label>
  <input
    class="inputs"
    type="text"
    [(ngModel)]="newMovie.Year"
    name="Year"
    #movieYear="ngModel"
    required
  />
  <label class="labels">Director</label>
  <input
    class="inputs"
    type="text"
    [(ngModel)]="newMovie.Director"
    name="Director"
    #movieDirector="ngModel"
    required
  />
  <button class="button" (click)="movieArr()" [disabled]="!movieForm.valid">Add movie</button>

</form>


<ul>
  <li *ngFor="let m of movieArr">
    Namn: {{ m.Name }} ({{ m.Year }}), Director: {{ m.Director }}
  </li>
</ul>

<ng-template></ng-template>



