.toolbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003B46;
}

.toolbar li {
  float: left;
}

.toolbar li a {
  display: block;
  color: #C4DFE6;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16pt;
}

.toolbar li a:hover:not(.active){
  color: #66A5AD	;

}

#userContainer{
  display: flex;
  justify-content: flex-end;
  height: 16pt;
}

#user{
  background-color: #07575B;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-family: Helvetica;
  color: #C4DFE6;
}

a.active {
  color: pink;
}
