<div class="outer">
  <div class="container">
<h1 *ngIf="movie">{{movie.Name}}</h1>

<div *ngIf="movie else noMovie">
  <table>
    <tr>
      <td class="left text">
        Title:
      </td>
      <td class="right text">
        {{ movie.Name }}
      </td>
    </tr>
    <tr>
      <td class="left text">
        Year of release:
      </td>
      <td class="right text">
        {{ movie.Year }}
      </td>
    </tr>
    <tr>
      <td class="left text">
        Director:
      </td>
      <td class="right text">
        {{ movie.Director }}
      </td>
    </tr>
  </table>
</div>

<div *ngIf="isLoggedIn && movie">
  <button class="button" (click)="movieService.deleteMovie(getId())">Delete</button>
</div>
  </div>
</div>
<ng-template #noMovie><h1>The movie does not exist in the database</h1></ng-template>
